
/* Fix show more button of description */
ytd-watch-metadata #description tp-yt-paper-button#expand {
  position: static;
}

/* Add background to panels */
ytd-engagement-panel-section-list-renderer {
  background-color: #0f0f0f;
}


/* Show full title of description panel */
#shorts-title.ytd-video-description-header-renderer {
  display: block !important;
  max-height: none !important;
}


/* Fix display of some YT comments in the comments panel not showing "more" */
ytd-expander#expander > #content:has(+ * + #more[hidden]) {
  display: block !important;
}



/* Fix some weird css added by YouTube that breaks comments panel */

ytd-item-section-renderer[static-comments-header] {
  flex-direction: column !important;
}

ytd-item-section-renderer[static-comments-header] #header.ytd-item-section-renderer {
  background-color: transparent !important;
}

ytd-item-section-renderer[static-comments-header] #contents.ytd-item-section-renderer {
  overscroll-behavior: auto !important;
}

/* Add scrollbar back to comments panel */
ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-comments-section"] ytd-section-list-renderer[engagement-panel] {
  overflow: auto;
}


/* Change the "new" label in videos from left position to right */
ytd-compact-video-renderer ytd-badge-supported-renderer {
  justify-content: flex-end;
}
