.html5-video-player {
  overflow: clip !important;
}

.html5-video-container {
  height: 100%;
}


video,
canvas#player {
  transform:
  perspective( var(--perspective, none) )

  translateX( var(--translateX, 0) )
  translateY( var(--translateY, 0) )
  translateZ( var(--translateZ, 0) )
  translate3d( var(--translate3d, 0, 0, 0) )

  scale( var(--scale, 1) )
  scaleX( var(--scaleX, 1) )
  scaleY( var(--scaleY, 1) )
  scaleZ( var(--scaleZ, 1) )
  scale3d( var(--scale3d, 1, 1, 1) )

  rotateX( var(--rotateX, 0deg) )
  rotateY( var(--rotateY, 0deg) )
  rotateZ( var(--rotateZ, 0deg) )
  rotate3d( var(--rotate3d, 1, 1, 1, 0deg) )

  skewX( var(--skewX, 0deg) )
  skewY( var(--skewY, 0deg) )

  /* matrix(scaleX, skewY, skewX, scaleY, translateX, translateY) */
  matrix( var(--matrix, 1, 0, 0, 1, 0, 0) )
  /* matrix3d(scaleX, skewY, 0, 0, skewX, scaleY, 0, 0, 0, 0, 0, translateX, translateY, translateZ, 0) */
  matrix3d( var(--matrix3d, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) )
  ;
}




.ytp-panel {
  overscroll-behavior: contain;
}


/* Borde sutil para el contenedor de los videos  */
#ytd-player {
  box-shadow: #333 0 0 0 1px !important;
}

video,
canvas#player {
  box-shadow: #fff 0px 0px 5px 0px;
}

/* Contenedor de subtitulos  */
/* Permitir la pausa y play del video cuando se hace click en el contenedor */
#ytp-caption-window-container {
  pointer-events: none !important;
}


/*Evitar la contacto con la barra lateral en pantalla completa  */
#player-theater-container {
  z-index: 99999999;
}
