.html5-video-player {
  overflow: clip !important;
}

.html5-video-container {
  height: 100%;
}


video,
canvas#player {
  transform:
  scale( var(--scale, 1) )

  /* translateX( calc( var(--translateX, 0) / var(--scale, 1) ) )
  translateY( calc( var(--translateY, 0) / var(--scale, 1) ) ) */
  translateX( var(--translateX, 0) )
  translateY( var(--translateY, 0) )

  rotateY( var(--rotateY, 0deg) )
  rotateZ( var(--rotateZ, 0deg) )
  ;
}




.ytp-panel {
  overscroll-behavior: contain;
}


/* Borde sutil para el contenedor de los videos  */
#ytd-player {
  box-shadow: #333 0 0 0 1px !important;
}

video,
canvas#player {
  box-shadow: #fff 0px 0px 2px 0px;
}

/* Contenedor de subtitulos  */
/* Permitir la pausa y play del video cuando se hace click en el contenedor */
#ytp-caption-window-container {
  pointer-events: none !important;
}







/* Fix new way of youtube to handle video sizing to allow video player fill space */


#player-container-outer {
  max-width: none !important;
}

#player-container-inner {
  padding-top: 0 !important;  
}

#player-container {
  position: static !important;
}

video {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 20;
  margin: auto;
}


#player-container-outer .ytp-chrome-bottom {
  width: 98% !important;
}

#player-theater-container > #player-container {
  height: 100% !important;
}

ytd-watch-flexy ytd-player .ytp-ce-shadow {
  outline-width: 100vw !important;
}
