/* Eliminat recorte de imagenes verticales en Twitter */


/*[role="link"] > div > div {*/
/*  position: static !important;*/
/*}*/


/*[data-testid="tweetPhoto"] {*/
/*  position: static !important;*/
  /*height: fit-content !important;*/
/*}*/

/*[data-testid="tweetPhoto"] > img {*/
/*  position: static !important;*/
/*}*/

/*
 Si tiene margin-left o margin-right, no aplicar el efecto
 (Lo cual significa que son imágenes horizontales)
*/

/*[data-testid="tweetPhoto"]:is([style*="margin-left"],[style*="margin-right"])*/
/*> img {*/
/*    position: absolute !important;*/
/*}*/



/* Scrollbar */


:root {
  --scrollbar-width:  10px;
  --scrollbar-height: 5px;
  --thumb-color:             #32577b;
  --thumb-hover-color:       #1a3854;
  --thumb-active-color:      #0b1e2f;
  --thumb-box-shadow-color:  #5f93b9;

  --track-color:             #000;

  --button-color:            #1e4e80;
  --button-hover-color:      #183c63;
  --button-active-color:     #102740;
  --button-box-shadow-color: #338ed2;

  --corner-color:            #27588a;
}


::-webkit-scrollbar {
  width:  calc(var(--scrollbar-width, 10px) * var(--visual-viewport-zoom-ratio));
  height: calc(var(--scrollbar-height, 5px) * var(--visual-viewport-zoom-ratio));
  background: var(--track-color, #0b1115);
  border-radius: calc(10px * var(--visual-viewport-zoom-ratio));
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-color, #32577b);
  border-radius: calc(10px * var(--visual-viewport-zoom-ratio));
  box-shadow: inset var(--thumb-box-shadow-color, #5f93b9) 0 0 calc(5px * var(--visual-viewport-zoom-ratio)) 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover-color, #1a3854);
}

::-webkit-scrollbar-thumb:active {
  background: var(--thumb-active-color, #0b1e2f);
}

/* Hide extra buttons that appear when parent is a flex or grid container */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button:single-button {
  width: calc(var(--button-width, 20px) * var(--visual-viewport-zoom-ratio));
  height: calc(var(--button-height, 20px) * var(--visual-viewport-zoom-ratio));
  background: var(--button-color, #1e4e80);
  box-shadow: inset var(--button-box-shadow-color, #338ed2) 0 0 calc(5px * var(--visual-viewport-zoom-ratio)) 0;
}

::-webkit-scrollbar-button:hover {
  background: var(--button-hover-color, #183c63);
}

::-webkit-scrollbar-button:active {
  background: var(--button-active-color, #102740);
}


::-webkit-scrollbar-button:vertical:single-button:increment {
  border-radius: calc(10px * var(--visual-viewport-zoom-ratio)) calc(10px * var(--visual-viewport-zoom-ratio)) 0 0;
}

::-webkit-scrollbar-button:vertical:single-button:decrement {
  border-radius: 0 0 calc(10px * var(--visual-viewport-zoom-ratio)) calc(10px * var(--visual-viewport-zoom-ratio));
}

::-webkit-scrollbar-button:horizontal:single-button:increment {
  border-radius: calc(10px * var(--visual-viewport-zoom-ratio)) 0 0 calc(10px * var(--visual-viewport-zoom-ratio));
}

::-webkit-scrollbar-button:horizontal:single-button:decrement {
  border-radius: 0 calc(10px * var(--visual-viewport-zoom-ratio)) calc(10px * var(--visual-viewport-zoom-ratio)) 0;
}

::-webkit-scrollbar-corner {
  background: var(--corner-color, #27588a);
}
