/* Solucionar error que genera que aumenta el scroll vertical
al aumentar el scroll horizontal */
.CodeMirror-lines {
  padding-bottom: 75vh !important;
}


::-webkit-scrollbar {
  width:  calc(10px * var(--visual-viewport-zoom-ratio));
  height: calc(5px * var(--visual-viewport-zoom-ratio));
  background: #000;
  border-radius: calc(10px * var(--visual-viewport-zoom-ratio));
}

::-webkit-scrollbar-thumb {
  background: #69327b;
  border-radius: calc(10px * var(--visual-viewport-zoom-ratio));
  box-shadow: inset #a35fb9 0 0 calc(5px * var(--visual-viewport-zoom-ratio)) 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #471a56;
}

::-webkit-scrollbar-thumb:active {
  background: #250b2d;
}

::-webkit-scrollbar-button:single-button {
  width:  calc(20px * var(--visual-viewport-zoom-ratio));
  height: calc(20px * var(--visual-viewport-zoom-ratio));
  background: #681e80;
  box-shadow: inset #aa32d2 0 0 calc(5px * var(--visual-viewport-zoom-ratio)) 0;
}

::-webkit-scrollbar-button:hover {
  background: #501863;
}

::-webkit-scrollbar-button:active {
  background: #351041;
}

/* Hide extra buttons that appear when parent is a flex or grid container */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button:vertical:single-button:increment {
  border-radius: calc(10px * var(--visual-viewport-zoom-ratio)) calc(10px * var(--visual-viewport-zoom-ratio)) 0 0;
}

::-webkit-scrollbar-button:vertical:single-button:decrement {
  border-radius: 0 0 calc(10px * var(--visual-viewport-zoom-ratio)) calc(10px * var(--visual-viewport-zoom-ratio));
}

::-webkit-scrollbar-button:horizontal:single-button:increment {
  border-radius: calc(10px * var(--visual-viewport-zoom-ratio)) 0 0 calc(10px * var(--visual-viewport-zoom-ratio));
}

::-webkit-scrollbar-button:horizontal:single-button:decrement {
  border-radius: 0 calc(10px * var(--visual-viewport-zoom-ratio)) calc(10px * var(--visual-viewport-zoom-ratio)) 0;
}
